html {
	font-family: sans-serif;
}

body {
	background-color: #DDD;
}

#Page {
	background-color: #FFF;
	max-width: 800px;
	min-height: 100vh;
	margin: auto;
	min-height: 100vh;
	padding: 2rem;
	margin:auto;

	box-shadow: 0 0 100px rgba(0,0,0,0.3);
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem 0;
}

#Logo {
	font-size: 1.5rem;
	font-weight: bold;
	align-items: center;
	text-transform: uppercase;
}

nav a {
	text-decoration: none;
	color: inherit;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0.5rem 1rem;
}

nav a:not(:last-of-type) {
	border-right: 1px solid black;
}

nav a:hover {
	text-decoration: underline;
}

.hero {
	position: relative;
	aspect-ratio: 16 / 9;
}

.hero .texte {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 2;

	color: white;
}

.hero h1 {
	text-shadow: 
	0px 0px 10px rgba(0, 0, 0, 0.7),
	0px 0px 10px rgba(0, 0, 0, 0.7);
}

.hero .carousel {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	z-index: 1;
}

.carousel img {
	width: 100%; height: 100%;
	object-fit: cover;
	object-position: bottom
}