html {
	font-family: sans-serif;
}


.hero {
	position: relative;
	aspect-ratio: 16 / 9;

	max-width: 640px;
}

.hero .texte {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;

	color: white;
}

.hero h1 {
	text-shadow: 
	2px 2px 4px rgba(0, 0, 0, 0.7),
	-2px -2px 4px rgba(0, 0, 0, 0.7);
}

.hero .carousel {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	z-index: -1;
}

.carousel img {
	width: 100%; height: 100%;
	object-fit: cover;
}